{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bitcoin World</title>

    <link href="//fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">

    <style>
      .container{

        padding:30px;
        line-height: 4.5px;
      }

      h1,h2,h3,h4,h5 {

        color:white;
      }

      p{
        color: white;
      }

      .card-title{
        color: black;
      }

    </style>
  </head>
<body>
  <button type="button" class="btn btn-primary">Stake</button>


<button type="button" class="btn btn-primary" style="float:right;">Unstake</button>

<div class="container">
  <div style="margin-top:15px">
    <h1 style="color:white">Claim Reward</h1>
    <h1 style="color:white;">Bonus/Airdrop</h1>
    
  </div>
  <div style="margin-top: 35px">
    <button type="button" class="btn btn-primary">Claim now</button>
  </div>

  
  <div style="margin-top: 30px;">
    <h2 style="color: white">Please select a wallet below</h2>
  
    </div>
</div>


<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/alphawallet" style="text-decoration:none;">
      <img class="card-img-top" src="{% static 'images/alphawallet.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Alpha wallet</h5>
        
      </div>
    </a>
    </div>
  
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/argentwallet" style="text-decoration:none;">
        <img class="card-img-top" src="{% static 'images/argent.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Argent wallet</h5>
          
        </div>
      </a>
      
    </div>
  </a>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/atomic" style="text-decoration:none;">
        <img class="card-img-top" src="{% static 'images/atomic.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Atomic wallet</h5>
          
        
        </div>
      </a>
    </div>
  
  
</div>

<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/atwallet" style="text-decoration:none;">
      <img class="card-img-top" src="{% static 'images/atwallet.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Atwallet wallet</h5>
        
      </div>
    </a>
      
    </div>
  
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/coin98" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/coin98.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coin98 wallet</h5>
        
      </div>
     </a>
    </div>
  </a>
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/coinbase" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/coinbase.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coinbase wallet</h5>
        
      </div>
    </a>
    </div>
  
  
</div>

<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/coinomi" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/coinomi.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coinomi wallet</h5>
        
      </div>
    </a>
    </div>

  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/crypto" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/crypto.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Crypto wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/eidoo" style="text-decoration:none">
      <img class="card-img-top" src="{% static 'images/eidoo.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Eidoo wallet</h5>
        
      </div>
     </a>
    </div>
  
  
</div>

<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/exodus" style="text-decoration:none;">
      <img class="card-img-top" src="{% static 'images/exodus.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Exodus wallet</h5>
        
      </div>
    </a>
    </div>
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/gridplus" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/gridplus.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gridplus wallet</h5>
        
      </div>
    </a>
    </div>
  
 
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/huobi" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/huobi.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Huobi wallet</h5>
        
      </div>
    </a>
    </div>
  
 
</div>


<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/ledger" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/ledger.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ledger wallet</h5>
        
      </div>
    </a>
    </div>
  
  

    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/infinitowallet" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/infinito.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Infinito wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/metamask" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/metamask.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Metamask wallet</h5>
        
      </div>
    </a>
    </div>
  
  
</div>

<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/mew" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/mew.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mew wallet</h5>
        
      </div>
      </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/midas" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/midas.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Midas wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/moriX" style="text-decoration:none">
      <img class="card-img-top" src="{% static 'images/morixwallet.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Morix wallet</h5>
        
      </div>
    </a>
    </div>
  
</div>

<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/mykey" style="text-decoration:none;">
      <img class="card-img-top" src="{% static 'images/mykey.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mykey wallet</h5>
        
      </div>
    </a>
    </div>

  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/nash" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/nash.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nash wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/onto" style="text-decoration:none;">
      <img class="card-img-top" src="{% static 'images/onto.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Onto wallet</h5>
        
      </div>
    </a>
    </div>
 
  
</div>


<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/ownbit" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/ownbit.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ownbit wallet</h5>
        
      </div>
    </a>
    </div>
 
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/peakdefi" style="text-decoration:none;">
      <img class="card-img-top" src="{% static 'images/peakdefi.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Peakdefi wallet</h5>
        
      </div>
    </a>    
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/pillar" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/pillar.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pillar wallet</h5>
        
      </div>
    </a>
    </div>
  
  
</div>

<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/rainbow" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/rainbow.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Rainbow wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/safepal" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/safepal.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Safepal wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/sparkpoint" style="text-decoration:none">
      <img class="card-img-top" src="{% static 'images/sparkpoint.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sparkpoint wallet</h5>
        
      </div>
    </a>
    </div>
  </a>
  
</div>

<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/spatium" style="text-decoration: none">
      <img class="card-img-top" src="{% static 'images/spatium.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Spatium wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/swft" style="text-decoration:none;">
      <img class="card-img-top" src="{% static 'images/swft.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Swft wallet</h5>
      </a>
      </div>
      
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/tokenpocket" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/tokenpocket.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Token pocket wallet</h5>
        
      </div>
      </a>
    </div>
  
  
</div>


<br>

<div class="card-deck">
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/tronlink" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/tron.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tron wallet</h5>
        
      </div>
    </a>
    </div>

  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="/tronlink" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/tronlink.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tronlink wallet</h5>
        
      </div>
    </a>
    </div>
  
  
    <div class="card" style="background-color: #ddd; border:2px solid #718096;">
      <a href="trust" style="text-decoration: none;">
      <img class="card-img-top" src="{% static 'images/trust.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Trust wallet</h5>
        
      </div>
    </a>
    </div>
  
  
</div>

<br>

<div class="card-deck">
  
  <div class="card" style="background-color: #ddd; border:2px solid #718096;">
    <a href="/unstoppable" style="text-decoration:none">
      <img class="card-img-top" src="{% static 'images/unstoppable.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Unstoppable wallet</h5>
        
      </div>
    </a>
  </div>
  <div class="card" style="background-color: #ddd; border:2px solid #718096;">
   <a href="/vision" style="text-decoration: none">
    <img class="card-img-top" src="{% static 'images/vision.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vision wallet</h5>
      
    </div>
   </a>
    
  </div>
  <div class="card" style="background-color: #ddd; border:2px solid #718096;">
    <a href="/walleth" style="text-decoration:none">
      <img class="card-img-top" src="{% static 'images/walleth.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Walleth wallet</h5>
      
    </div>
    </a>
    
    
  </div>
</div>

<br>

<div class="card-deck">
  <div class="card" style="background-color: #ddd; border:2px solid #718096;">
   <a href="/walletio" style="text-decoration:none">
    <img class="card-img-top" src="{% static 'images/walletio.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Walletio wallet</h5>
      
    </div>
    </a>
    
  </div>
  <div class="card" style="background-color: #ddd; border:2px solid #718096;">
    <a href="/walletio" style="text-decoration:none">
    <img class="card-img-top" src="{% static 'images/xdc.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Xdc wallet</h5>
      
    </div>
    </a>
  </div>
  <div class="card" style="background-color: #ddd; border:2px solid #718096;">
    <a href="/zelcore" style="text-decoration: none">
      <img class="card-img-top" src="{% static 'images/zelcore.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Zelcore wallet</h5>
      
    </div>
    </a>
    
    
  </div>
</div>


<hr/>

</body>

</html>